*{
    margin: 0;
    padding: 0;
}

body{
    background: #FEC7D7;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-height: 720px;

}

.contenedor{
    border:  3px solid black;
    border-radius: 10px ;
    width: 100%;
    height: 100%;
    max-height: 900px;
    max-width: 500px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,10px);
}

/*.contenedor .header,
.contenedor .contenido1,
.contenedor .contenido2,
.contenedor .contenido3,
.contenedor .contenido4,
.contenedor .header2,
.contenedor .contenido,
.contenedor .footer{
    background: white;
    border-radius: 4px;
}*/

.contenedor .contenido1,
.contenedor .contenido2,
.contenedor .contenido3,
.contenedor .contenido4{
    height: 250px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.contenedor .titulo{
font-family: Nunito;
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 33px;
    /* identical to box height */
    
    letter-spacing: 0.0015em;
    
    /* Black */
    
    color: #0E172C;
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: left;
    padding-left: 10px;
}
.subtitulo{
    font-family: Nunito;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 33px;
/* identical to box height */

letter-spacing: 0.0015em;

/* Black */

color: #0E172C;

}
.contenedor .header{
    
    grid-column: span 1;
}

.contenedor .header2{
    
    color: black;
    grid-column: 2/2;
}



.header .categ1{
    
    color: black;
    grid-column:span 1;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}

.catdog{
    border-radius: 6px;
}

.header2 .categ2{
    
    color: black;
    grid-column:span 1;
    text-align: center;
    justify-content: center;
}

.catdog:hover{
    width: 75%;
}

.contenedor .contenido1{
    grid-column: span 1;
    
    text-align: center;
    justify-content: center;
    align-items: center;
}
.contenedor .contenido2{
    grid-column: span 1;
    
}
.contenedor .contenido3{
    grid-column: span 1;
   
}
.contenedor .contenido4{
    grid-column: span 1;
    
}

/*-----------------------------------------*/



.contenedor .footer{
    background: white;
    color: cornsilk;
    grid-column: span 2;
}


/*
.contenedor .footer .icon1{
    background: chocolate;
    color: cornsilk;
    grid-column: 1/2;
}
.contenedor .footer .icon2{
    background: chocolate;
    color: cornsilk;
    grid-column: 4/2;
}
*/
/*Menu---------------------------------------*/

.nav-link{
    /*margin-left: 10px;
    margin-top: 15px;*/
    /*margin: 20px 120px 0px 40px;*/
    margin: 20px  0px 0px 20%;
}

#navitem1, 
#navitem2,
#navitem3{
 margin: 10px 0px 0px 10%;
}

.mainsms{
    height: 700px;
}


.nv9{
    color: orange;
}
.footer{
    border-radius: 0px 0px 4px 4px;
    bottom: 0px;
    flex-direction: row;
}

@media screen and (max-width:860px) {
    .nav-link{
        margin: 20px  0px 0px 15%;
    }
    
    #navitem1, 
    #navitem2,
    #navitem3{
     margin: 10px 0px 0px 10%;
    }
     
}

@media screen and (max-width:600px) {
    /*@media screen and (max-width:860px) {*/
        .nav-link{
            margin: 20px  0px 0px 7%;
        }
        
        #navitem1, 
        #navitem2,
        #navitem3{
         margin: 10px 0px 0px 10%;
        }
         
   /* }*/
    
}


@media screen and (max-width:440px) {
    .contenedor{
        border:  0px solid black;
        border-radius: 10px ;
    }
    .contenedor .footer{
        background: white;
        color: cornsilk;
        grid-column: span 2;
        width: 100%;
        max-height: 72px;
        
    } 

    .nav-link{
        /*margin-left: 10px;
        margin-top: 15px;*/
        margin: 10px -10px 0px 10px;
    }
    
    #navitem1, 
    #navitem2,
    #navitem3{
     margin: 10px 0px 0px 10px;
    }

    .footer{
        position: fixed;
        bottom: 0px;
        flex-direction: row;
    }
}