*{
    margin: 0;
    padding: 0;
}

body{
    background: #FEC7D7;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
max-height: 720px;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,auto);
}

.contenedor .header,
.contenedor .contenido1,
.contenedor .contenido2,
.contenedor .contenido3,
.contenedor .contenido4,
.contenedor .header2,
.contenedor .contenido,
.contenedor .footer{
    background: white;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .contenido1,
.contenedor .contenido2,
.contenedor .contenido3,
.contenedor .contenido4{
    height: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.contenedor .titulo{
    background: gold;
    color: black;
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    justify-content: center;
}
.contenedor .header{
    background: red;
    grid-column: span 1;
}

.contenedor .header2{
    background: red;
    color: black;
    grid-column: 2/2;
}

.header .categ1{
    background: blue;
    color: black;
    grid-column:span 1;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}

.catdog{
    border-radius: 6px;
}

.header2 .categ2{
    background: blue;
    color: black;
    grid-column:span 1;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}

.catdog:hover{
    width: 110px;
}

.contenedor .contenido1{
    grid-column: span 1;
    background: greenyellow;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.contenedor .contenido2{
    grid-column: span 1;
    background: greenyellow;
}
.contenedor .contenido3{
    grid-column: span 1;
    background: greenyellow;
}
.contenedor .contenido4{
    grid-column: span 1;
    background: greenyellow;
}


.contenedor .footer{
    background: chocolate;
    color: cornsilk;
    grid-column: span 2;
}

.contenedor .footer .icon1{
    background: chocolate;
    color: cornsilk;
    grid-column: 1/2;
}
.contenedor .footer .icon2{
    background: chocolate;
    color: cornsilk;
    grid-column: 4/2;
}

/*Menu---------------------------------------*/

p {
    margin-bottom: 10px;
  }
  .navprincipal {
    width: 90%;
    margin: auto;
    overflow:hidden;
  }
 
  
  nav {
    float: left; 
  }
  nav ul {
    list-style: none;
    overflow: hidden; 
  }
  #nav-bar ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  

  #nav-bar ul li .nav-link {
    color: #fff;
    text-decoration: none;
  }
  nav ul li:hover {
    background: rgb(55, 170, 101);
  }
  
li{
    text-decoration: none;

}



.footer{
float: right;
  left:0%;
  bottom:0px;
  height:70px;
  width:100%;

}

.nv9{
    color: orange;
}

@media screen and (max-width:768px) {
    
    
}